* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "reboto", sans-serif;
}

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
p {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1.25em;}

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgb(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    color: black;
    background-color: yellow;
}

button:hover {
    background-color: yellowgreen;
}

.cointainer {
    max-width: 1400px;
    margin: auto;
}

header {
    color: #ffff00;
    background-color: black;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #ffff00;
}

header .logo img {
    height: 50px;
    margin-right: 10px;
}

header .cointainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25xp;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    color: white;
}

.cont-ul {
    display: flex;
    align-items: center;
}

li {
    color: white;
    list-style: none;
    cursor: pointer;
    padding: 1.5vw 5vw;
    transition: all 0.3s ease 0s;
}

li:hover {
    background-color: #c1c700;
}

.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-second>li {
    width: 185px;
    transform: translateX(-25px);
    border-bottom: solid 1px white;
    text-align: center;
    background-color: #24252a;
}

.ul-second>li:hover {
    background-color: #c1c700;
}

.develop:hover>.ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(185px);
    left: 0;
    top: 0;
    display: none;
    background-color: #24252a;
}

.ul-third>li {
    padding: 1.5vh;
    border-bottom: solid 1px white;
}

.cs:hover>.ul-third {
    display: block;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        )
        ,url(../images/sum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: whitesmoke;
}

#esetp .cointainer {
    text-align: center;
    padding: 200px 12px;
}

#esetp-2 {
    color: white;
    background-color: rgb(30,30,30);
    text-align: center;
}

#esetp-2 .cointainer {
    padding: 150px 12px;
}

#esetp h2 {
    margin-top: 0;
    font-size: 2.7em;
}

#esetp-2 p{
    display: none;
}

#esetp .tecnicatura {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.tecnicatura:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        )
        ,url(../images/tems.jpg);
}
.tecnicatura:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        )
        ,url(../images/tels.jpg);
}
.tecnicatura:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        )
        ,url(../images/tips.jpg);
}
.tecnicatura:nth-child(4) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        )
        ,url(../images/tgaos.jpg);
}

#objetivo .cointainer{
    text-align: center;
    padding: 250px 12px;
}

#equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    height: 80vh;
}

#institucion {
    text-align: center;
    padding: 200px 12px;
    background-color: yellow;
}

#educacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../images/sum2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

#invitacion {
    text-align: center;
    padding: 200px 12px;
}

#invitacion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
    height: 80vh;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .cointainer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .cointainer {
        flex-direction: row;
        justify-content: space-between;
    }
    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1 {
        font-size: 3.5em;
    }
    #esetp .cointainer {
        display: flex;
        justify-content: space-evenly;
    }
    #esetp .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    #esetp h2 {
        margin-top: 0px;
    }
    #esetp .img-cointainer {
        background-image: url(../images/sum4.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
    #esetp-2 .tecnicaturas {
        display: flex;
        justify-content: center;
    }
    #esetp-2 p {
        display: block;
        margin-bottom: 30px;
    }
    #esetp-2 h2 {
        font-size: 2.5em;
    }
    #esetp-2 h3 {
        margin-top: 0;
    }
    #esetp-2 .tecnicatura {
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50,50,50,0.5);
        box-shadow: 2xp 2xp 10xp rgba(0,0,0,0.5);
    }
    .tecnicatura:first-child {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            )
            ,url(../images/tems-cropped.jpg);
    }
    .tecnicatura:nth-child(2) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            )
            ,url(../images/tels-cropped.jpg);
    }
    .tecnicatura:nth-child(3) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            )
            ,url(../images/tips-cropped.jpg);
    }
    .tecnicatura:nth-child(4) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            )
            ,url(../images/tgaos-cropped.jpg);
    }
    #objetivo{
        background-image: url("media/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }
    #objetivo .container{
        text-align: initial;
    }
    #equipo h2{
        font-size: 5em;
    }
    footer .container{
        justify-content: flex-end;
    }
}
@media (min-width: 1200px) {
    #objetivo{
        background-position-x: calc(100vw - 800px);
    }
}
